/* Formulario */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-image: url("../img/background-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container{
    height: 350px;
    width: 300px;
    border: black;
    margin: auto;
    border-radius: 10%;
    padding-top: 100px;
}

.cadastro{
    margin: 5px 5px 5px ;
    border-color: #354d78;
}

.cadastro h1{
    color: #354d78;
    padding-left: 40px;
}

.cadastro button{
    padding-top: 20px;
}

.login-form{
    padding-top: 10px;
}

.login-form input{
    padding-top: 10px;
}

.btn{
    color: #354d78;
}

