@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/unimar.jpg");
}

.table-wrapper{
    /* background-color: #354d78; */
    border-color: black;
    padding: 20px 25px;
    margin: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #354d78;
}
.table-body .row{
    border-color: black;
}
.table-title{
    padding-bottom: 15px;
    background: #354d78;
    color: whitesmoke;
    padding: 16px 30px;
    margin: -20px -25px 10px;
}

.table-title h2{
    margin: 5px 0 0;
    margin-left: 0%;
    color: 03A9F4;
}

.table-title .btn{
    float: right;
    color: black;
    border: none;
    border-radius: 2px;
    outline: none !important;
    margin-left: 10px;
    background-color: #03A9F4;
}

table.table tr th, table.table tr td{
    border-color:black;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table td th:first-child{
    width: 60px;
}

table.table tr th:last-child{
    width: 100px;
}

table.table tr i {
    margin: 0 5px;
}

table.table td a{
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover{
    color: #2196F3;
}

table.table td a.edit{
    color: #FFC107;
}

table.table td a.delete{
    color: #F44336;
}

/* pagination */

.pagination{
    float: right;
    margin: 0 0 5px;   
}

.pagination li a{
    border: none;
    min-width: 30px;
    min-height: 30px;
    margin: 0 2px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    line-height: 30px;
}

.hint-text{
    float: left;
    margin-top: 10px;
    font-size: 15px;
}

.pagination li a:hover{
    color: #666;
}

.pagination li.active a,  .pagination li.active a.page-link{
    background-color: #03A9F4;
}

.pagination li.active a:hover{
    background-color: #03A9F4;
}

.pagination li.disable a {
    color: #ccc;
}